@tailwind base;
@tailwind components;
@tailwind utilities;
  

body {
  width: 100%;
  height: 100%;
  background: #00130a;
  color:white;
}

.card {
  width: 350px;
  height: 126px;
  position: relative;
  padding: 25px;
  background: radial-gradient(178.94% 106.41% at 26.42% 106.41%, #717272 0%, rgba(73, 72, 72, 0) 71.88%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #FFFFFF;
  /* box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01), 0px 87px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09), 0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1); */
  border-radius: 23px;
  transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
  background-color: rgba(37, 26, 68, 0.13);
  border: 1px solid rgba(255, 255, 255, 0.089);
}

.card:hover {
  transform: scale(1.05);
}

.container {
  width: 250px;
  height: 250px;
  position: absolute;
  right: -120px;
  top: -60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.7);
}


.card-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-header span:first-child {
  word-break: break-all;
  font-weight: 800;
  font-size: 15px;
  line-height: 135%;
  color: rgb(255, 255, 255);
}

.card-header span:last-child {
  font-weight: 700;
  font-size: 15px;
  line-height: 135%;
  color: rgb(251, 255, 0);
}
@keyframes moveLight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 23px;
  /* border: 0px solid transparent; */
  animation: moveLight 4s linear infinite;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.233), rgba(0, 0, 0, 0));
}

.card {
  /* Your existing styles */
  position: relative;
  overflow: hidden; /* Ensure the border doesn't overflow */
}


/*  */
.card1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: #e8e8e8;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content1 .heading1 {
  font-weight: 700;
  font-size: 28px;
  color: rgb(231, 231, 28);
}

.content1 .para1 {
  line-height: 1.5;
}

/* .content1 .btn1 {
  color: #e8e8e8;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: linear-gradient(-45deg, #000000 0%, #ff0f7b6b 100% );
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
} */

.card1::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 10px;
  background: linear-gradient(-45deg, #00000070 0%, #004637 100% );
  z-index: -1;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.card1:hover::before {
  height: 100%;
}

.card1:hover {
  box-shadow: none;
}

.card1:hover .btn1 {
  color: #212121;
  background: #e8e8e8;
}

.content1 .btn1:hover {
  outline: 2px solid #e8e8e8;
  background: transparent;
  color: #e8e8e8;
}

.content1 .btn1:active {
  box-shadow: none;
}

/* button css */
.nextbutton {
  font-family: inherit;
  font-size: 18px;
  /* background: linear-gradient(to left, #00ddff00 0%,#66a6ff8f 100%); */
  /* background: linear-gradient(-45deg, #000000 0%, #ff0f7b6b 100% ); */
  background: linear-gradient(-45deg, #0000009d 0%, #02502c 100% );
  color: white;
  padding: 0.8em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.nextbutton:hover {
  transform: scale(1.15);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.nextbutton:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}


.nextbutton svg {
  width: 20px;
  height: 20px;
  fill: rgb(255, 255, 255);
}
.tech-stacks {
  /* background: linear-gradient(to left, #00ddff00 0%,#66a6ff8f 100%); */
  /* background: linear-gradient(-45deg, #000000 0%, #ff0f7b6b 100% ); */
  background: linear-gradient(-45deg, #0000009d 0%, #7aa4ff5b 100% );
  color: white;
  padding: 0.8em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.Btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  height: 40px;
  border: none;
  padding: 0px 20px;
  background: linear-gradient(to right, #2b3f443f, #3baacc4d);
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0px;
  /* box-shadow: 0 20px 30px -7px rgba(97, 118, 238, 0.5); */
  transition-duration: 0.3s;
}

.svg {
  width: 12px;
  position: absolute;
  right: 0;
  margin-right: 20px;
  fill: white;
  transition-duration: 0.3s;
}

.Btn:hover {
  color: transparent;
}

.Btn:hover svg {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: 0.3s;
  transform: scale(1.7);
}

.Btn:active {
  transform: translate(3px, 3px);
  transition-duration: 0.3s;
}
